# Force correct MIME type for JavaScript modules
<IfModule mod_mime.c>
    AddType application/javascript .js
    AddType application/javascript .mjs
    AddType application/javascript .ts
    AddType application/javascript .tsx
</IfModule>

# Force Type for all .js files
<FilesMatch "\.(js|mjs)$">
    Header set Content-Type "application/javascript"
</FilesMatch>

# Handle Single Page Application Routing
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.html [L]
</IfModule>
